{%extends "layout.html"%}
{%block content%}
    <h1>Who we are:</h1><br>
        <h>Buddy Wheels is a navigation app for handicapped individuals that allow them to find the best routes for wheelchair access. Standard GPS applications give users the best routes for the day to day person, but do not always benefit those with a handicap. There is another application called AccessNow that only gives handicap users reviews and accessibility of places like restaurants and museums that are written by the developer. Buddy Wheels hopes to bridge together these reviews with a navigation system that would benefit the handicapped community.
</h>
<br>
    <br>
    <h3>Meet the team:</h3>
    <br>
    <h4>Christopher Kwok</h4>
    <img src='/static/profile_pics/Kwok.jpg' style="width:400px;height:400px;"><br><h>Christopher is a Senior at The City College of New York. After he graduates, Christopher plans to work in the cybersecurity field. He enjoys playing League of Legends and Valorant.</h><br>
    <h4>Homin Lee</h4>
    <img src='/static/profile_pics/homin_.jpeg' style="width:400px;height:400px;"><br>
    <h>Homin is a Senior at The City College of New York. After he graduates, Christopher plans to work in the full-stack development. Merry Christmas yall and wear mask!</h><br>
    <h4>Christopher Kwok</h4>
    <img src='/static/profile_pics/KwokReplace2.jpg' style="width:400px;height:400px;"><br><h>Christopher is a Senior at The City College of New York. After he graduates, Christopher plans to work in the cybersecurity field. He enjoys playing League of Legends and Valorant.</h>
    <br><br><br><br><br><br><br><br><br><br><br><br><br>
    
{%endblock%}