{%extends "layout.html"%}
{%block content%}
<body>
    <section class="Detail page">
      <div class="container">
        <h1 class="title">{{ business_info["name"] }}</h1><br>
        <h3> business category:{{ business_info["categories"][0].title  }} </h3> 
        <h3> business address: {{ business_info["location"]["display_address"][0]}}, {{ business_info["location"]["display_address"][1]}}    </h3> 

          <br>
          <h3>Operation Hours</h3>
          {% for i in range(7) %}
              
            {% if business_info["hours"][0].open[i].day == 0 %}
            <li>Sun: {{business_info["hours"][0].open[i].start}} ~ {{business_info["hours"][0].open[i].end}}</li>

            {% elif business_info["hours"][0].open[i].day == 1 %}
            <li>Mon: {{business_info["hours"][0].open[i].start}} ~ {{business_info["hours"][0].open[i].end}}</li>

            {% elif business_info["hours"][0].open[i].day == 2 %}
            <li>Tue: {{business_info["hours"][0].open[i].start}} ~ {{business_info["hours"][0].open[i].end}}</li>

            {% elif business_info["hours"][0].open[i].day == 3 %}
            <li>Wed: {{business_info["hours"][0].open[i].start}} ~ {{business_info["hours"][0].open[i].end}}</li>

            {% elif business_info["hours"][0].open[i].day == 4 %}
            <li>Thur: {{business_info["hours"][0].open[i].start}} ~ {{business_info["hours"][0].open[i].end}}</li>

            {% elif business_info["hours"][0].open[i].day == 5 %}
            <li>Fri: {{business_info["hours"][0].open[i].start}} ~ {{business_info["hours"][0].open[i].end}}</li>

            {%else %}
            <li>Sat: {{business_info["hours"][0].open[i].start}} ~ {{business_info["hours"][0].open[i].end}}</li>
            {% endif %}

          {% endfor %}


          <br>

          <br>

          phone:  {{business_info["phone"] }}

        <head>
    <title>Add Map</title>
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCcCcw-1jwiB-59cdvWO0aSp4Is78MDt-s&callback=initMap&libraries=&v=weekly"
      defer
    ></script>
    <style type="text/css">
      /* Set the size of the div element that contains the map */
      #map {
        height: 400px;
        /* The height is 400 pixels */
        width: 100%;
        /* The width is the width of the web page */
      }
    </style>
    <script>
      // Initialize and add the map
      function initMap() {
        // The location of Uluru
        const NYstate = { lat: 40.7128, lng: -74.0060 };
        // The map, centered at Uluru
        const map = new google.maps.Map(document.getElementById("map"), {
          zoom: 4,
          center: NYstate,
        });
        // The marker, positioned at Uluru
        const marker = new google.maps.Marker({
          position: NYstate,
          map: map,
        });
      }
    </script>
  </head>
  <body>
    <h3>My Google Maps Demo</h3>
    <!--The div element for the map -->
    <div id="map"></div>
  </body>
      </div>
    </section>
  </body>














{%endblock%}