{%extends "layout.html"%}
{%block content%}
<div class="container">
<!--
    <p>type places to go!     {{ business_data['name']}}</p>
        <input class="form-control" id="anythingSearch" type="text" placeholder="Type something to search list items">
        <div id="myDIV">



    <p>Your city?</p>
        <input class="form-control" id="anythingSearch" type="text" placeholder="Type something to search list items">
        <div id="myDIV">
            <div>I am a div element inside div.</div>
      <button class="btn btn-info">search</button>
    </div>
-->

<!-- only printing the name of restaurant using the api response -->
<p> {{ business_data['businesses'][0]['name'] }} </p> 
  </div>
{%endblock%}