{%extends "layout.html"%}
{%block content%}
<div class="container">
<!-- 
    <p>type places to go!</p>
        <input class="form-control" id="anythingSearch" type="text" placeholder="Type something to search list items">
        <div id="myDIV">
    
    <p>Your city?</p>
        <input class="form-control" id="anythingSearch" type="text" placeholder="Type something to search list items">
        <div id="myDIV">
            <div>I am a div element inside div.</div>
      <button class="btn btn-info">search</button>
    </div>
-->
    {{ business_data}}
  </div>
{%endblock%}