{%extends "layout.html"%}
{%block content%}

{% for i in range(10) %}

<br>

<article class="media">
  <figure class="media-left">
    <p class="image is-64x64">
      <img src= {{business_data['businesses'][i]['image_url']}} style="height: 64px; width: 64px; margin-top: 10px;">
    </p>
  </figure>
  <div class="media-content" style="margin-left: 15px;">
    <div class="content">
      <p>
        {% set business_url = business_data['businesses'][i]["id"] %}
        <a href="{{ url_for('business', business_id= business_url) }}">
        <strong>{{ business_data['businesses'][i]['name'] }}</strong>
        </a>
      </p>
       <p>Star Rating: {{ business_data['businesses'][i]["rating"] }}</p>
       <p>location: {{ business_data['businesses'][i]["location"]["address1"]}}</p>

    </div>
    <nav class="level is-mobile">
      <div class="level-left">
        <a class="level-item">
          <span class="icon is-small"><i class="fas fa-reply"></i></span>
        </a>
        <a class="level-item">
          <span class="icon is-small"><i class="fas fa-retweet"></i></span>
        </a>
        <a class="level-item">
          <span class="icon is-small"><i class="fas fa-heart"></i></span>
        </a>
      </div>
    </nav>
  </div>
  <div class="media-right">
    <button class="delete"></button>
  </div>
</article>
{% endfor %}

{%endblock%}


<!--
<body>
  <section class="section">
    <div class="container">
      <h1 class="title">Search Result</h1>
      <h2 class="subtitle">
        A simple container to divide your page into <strong>sections</strong>, like the one you're currently reading
      </h2>
      {% for i in range(10) %}
      <li>{{ business_data['businesses'][i]['name'] }}</li>
      {% endfor %}
    </div>
  </section>
</body>
-->

<!--
    <p>type places to go!     {{ business_data['name']}}</p>
        <input class="form-control" id="anythingSearch" type="text" placeholder="Type something to search list items">
        <div id="myDIV">



       <p>Your city?</p>
        <input class="form-control" id="anythingSearch" type="text" placeholder="Type something to search list items">
        <div id="myDIV">
            <div>I am a div element inside div.</div>
      <button class="btn btn-info">search</button>
      </div>
-->




<!-- only printing the name of restaurants using the api response for now-->




